.container {
  width: 100%;
  height: 456px;
  background: url(../assets/banner-menu-mobile.jpg) no-repeat;
  background-size: cover;
}

.container .container-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  font-family: "Inter";
}

.container .container-menu .image-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 2px 2px var(--preto);
}
.container .container-menu .image-logo:hover {
  scale: 1.1;
  transition-duration: 1s;
}

.container .container-menu h1 {
  font-size: 28px;
  font-weight: var(--titulo);
}

.container .container-menu p {
  font-size: 16px;
  font-weight: var(--texto);
}

.container .container-menu button {
  width: 266px;
  height: 48px;
  border-radius: 5px;
  border: none;
  color: var(--branco);
  font-size: 16px;
  font-weight: var(--titulo);
  padding: 8px 16px;
  background: var(--botao-menu);
}
