.principal {
  width: 100%;
  height: 456px;
  background: url(../assets/banner-menu-mobile.jpg) no-repeat;
  background-size: cover;
}

.container .container-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  font-family: "Inter";
}

.container .container-menu .image-logo {
  width: 150px;
  height: 150px;
  margin: 50px 100px 0 100px;
  border-radius: 50%;
}
.container .container-menu .image-logo:hover {
  scale: 1.1;
  transition-duration: 1s;
}

.container .container-menu h1 {
  font-size: 28px;
  margin-top: 34px;
  font-weight: var(--titulo);
}

.principal .container .container-menu p {
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
  margin-top: 16px;
  font-weight: var(--texto);
}

.container .container-menu .horario {
  border-radius: 5px;
  border: none;
  color: var(--branco);
  font-size: 16px;
  font-weight: var(--titulo);
  padding: 8px 16px;
  margin-top: 25px ;
  background: var(--horario-aberto);
}
